@font-face {
    font-family: 'PlaylistFont';
    font-weight: normal;
    font-style: normal;
    src: url('./circular-std-medium-500.ttf') format('truetype');
  }
@font-face {
    font-family: 'ThinFont';
    font-weight: normal;
    font-style: normal;
    src: url('./circular-std-medium-500.ttf') format('truetype');
  }
